### HomeAssistant ###
# Files with personal details
*.crt
*.csr
*.key
.google.token
.uuid
icloud/
google_calendars.yaml
harmony_media_room.conf
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
secrets.yaml
tradfri.conf

# Temporary files
*.db-journal
*.pid
tts

# automatically downloaded dependencies
deps
lib
www

# Log files
home-assistant.log
ozw_log.txt
OZW_Log.txt
options.xml
# Development files
custom_components/

harmony_*.conf
*.bak
zigbee.db
zwcfg*
zwscene.xml
.homekit.state
.HA_VERSION
old
ip_bans.yaml
node-red
.storage
esphome
.\#*

*~
\#*\#